{%extends "layout.html"%}
{% block content %}
<h2 class='download_heading'>Grade {{grade}} - {{subject}}</h2>

<div class='downloads'>
    <table>
        <tr>
            <th><h4>File</h4></th>
            <th><h4>Date</h4></th>
        </tr>
    {% for i in range(files_len) %}
        <tr>
            <td><h4><a href="{{ url_for('download_file', i=i) }}">{{ files[i].doc_name }}</a></h4></td>
            <td><h4>{{files[i].date_posted.strftime('%d/%m/%y')}}</h4></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}